doctype html
html
	head
		title=title
		meta( http-equiv='Content-Type', content='text/html', charset='UTF-8')
		link( rel='stylesheet', media='all', href=relativeTo(file_path, 'docco.css') )
	body
		div#container
			if context.sources.length > 0
				include includes/menu
			div#page 
				div#content
					| !{content}
			include includes/project_name
